
#cst-tickerbar {
  position: fixed;
  height: 30px;
  left: 0px;
  right: 0px;
  top: 0px;
  border-bottom: 1px solid #888888;
  background-color: #F6F6F6;
  background: linear-gradient(#F8F8F8, #E8E8E8);
  z-index: 9999999;
  white-space: nowrap;
}
.cst-bar-item {
    margin-top: 4px;
    margin-left: 10px;
    float: left;
}
.cst-variable {
    margin-right:4px;
}
.cst-variable .dropdown {
    float: left;
}
.cst-variable .dropdown button {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2px;
}
.cst-variable table {}
.cst-variable table td, .cst-variable table th {
  padding: 0px;
  padding-left: 4px;
  margin: 0px;
  font-size: 11px;
  line-height: 11px;
  font-family: 'arial narrow';
}
.cst-metric-abbr {}
.cst-metric-value {}
