
#cst-tickerbar {
  position: fixed;
  height: 30px;
  left: 0px;
  right: 0px;
  top: 0px;
  border-bottom: 1px solid #888888;
  background-color: #F6F6F6;
  background: linear-gradient(#F8F8F8, #E8E8E8);
  z-index: 9999999;
}
.cst-bar {
    position: relative;
    text-align: left;
}
.cst-bar-items {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 0px;
    white-space: nowrap;
}
.cst-bar-nav {
    position: absolute;
    background-color: #F6F6F6;
    background: linear-gradient(#F8F8F8, #E8E8E8);
    width: 30px;
    height: 30px;
}
.cst-bar-prev {
    left: 0px;
    top: 0px;
}
.cst-bar-next {
    width: 40px;
    right: 0px;
    top: 0px;
}
.cst-bar-prev div, .cst-bar-next div {
    margin-top: 4px;
}
.cst-bar-prev div {
    margin-left: 5px;
}
.cst-bar-next div {
    margin-left: 14px;
}
.cst-bar-item {
    margin-top: 4px;
    margin-left: 10px;
    display: inline-block;
}
