
<div class="cst-variable-config">
  <h2>Ticker Bar</h2>
  <p>Select which metrics to show on the ticker bar.</p>
  <div>
    <div id="saveConfirmTickerBar"></div>
    <p>
      <input type="checkbox" ng-model="tickerbar.alwaysDisplay" /> Always display the tickerbar, even when no stock symbols are found.
    </p>
    <table>
      <tr>
        <th class="cst-ticker-name">Name</th>
        <th class="cst-ticker-abbr">Abbreviation</th>
        <th class="cst-ticker-delete"></th>
      </tr>
      <tr ng-repeat="(index, item) in tickerbar.items">
        <td>
          <select class="form-control" ng-model="item.name" ng-options="item.metricIndex as item.metricValue for item in optionsMetricNames"></select>
        </td>
        <td><input class="form-control" type="text" ng-model="item.source" /></td>
        <td><button class="btn btn-danger glyphicon glyphicon-remove-sign" ng-click="itemRemove(index)"> </button></td>
      </tr>
    </table>
    <div class="cst-controls">
      <div class="cst-control-select">
        <select class="form-control" ng-model="addMetricName" ng-options="item.metricIndex as item.metricValue for item in optionsMetricNames"></select>
      </div>
      <div class="cst-control-add">
        <button class="btn btn-success" ng-click="itemAdd()">Add Metric</button>
      </div>
      <div class="cst-control-save">
        <button class="btn btn-warning" ng-click="save()">Update &amp; Save</button>
      </div>
  </div>
</div>
