
/* Patterns */

/* Patterns Accordian */
.cst-patterns-config .cst-patterns .cst-add-pattern td { padding-top: 20px; }
.cst-patterns-config .cst-patterns table { width: 100%; }
.cst-patterns-config .cst-patterns th.cst-pattern-regex { width: 70%; }
.cst-patterns-config .cst-patterns th.cst-pattern-modifiers { width: 15%; }
.cst-patterns-config .cst-patterns th.cst-pattern-result { width: 15%; }

/* Import Export Accordian */
.cst-patterns-config .cst-import-export {}
.cst-patterns-config .cst-import-export textarea { width: 100%; height: 10em; }
.cst-patterns-config .cst-import-export .cst-controls { margin-top: 10px; }

.cst-patterns-config input.ng-invalid {
   text-decoration: line-through;
   color: #ff0000;
}
