
#cst-tickerbar {
  position: fixed;
  height: 30px;
  left: 0px;
  right: 0px;
  top: 0px;
  border-bottom: 1px solid #888888;
  background-color: #F6F6F6;
  background: linear-gradient(#F8F8F8, #E8E8E8);
  z-index: 9999999;
  overflow: hidden;
  font-size: 10px;
  font-family: 'arial narrow';
  line-height: 10px;
}
div.cst-tickerbar-variable {
  float: left;
  margin-top: 5px;
  margin-right: 16px;
}
div.cst-tickerbar-item {
  float: left;
  overflow: none;
  margin-left: 4px;
}
