<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <title>Options</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/libs/external/bootstrap/bootstrap-3.0.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/options/options.css" />
</head>

<body>

  <ul id="mainNav" class="nav nav-tabs">
    <li class="active"><a href="#resource" data-toggle="tab">Resource</a></li>
    <li><a href="#patterns" data-toggle="tab">Patterns</a></li>
    <li><a href="#importexport" data-toggle="tab">Import/Export</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="resource">
      <div class="container" ng-controller="ResourceCtrl">

        <h2>Resource</h2>
        <p>The resource instructs the program how to obtain values (metrics) for
        each variable found on a webpage. To obtain a metric value for any given
        variable two pieces of
        information must first be provided: first, a url where that value lives
        on the internet, and second, a selector path to locate the individual value
        on the given url page.</p>
        <div>
          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    URL Mapping
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>URL Maps instruct the browser on what, if anything, needs to be
                  done first before accessing the given URL (such as a login process).
                  Normally nothing needs to be done.</p>
                  <table><tr><th>URL</th></tr>
                    <tr ng-repeat="(index, url) in resource.urls">
                      <td><input class="url" ng-model="url.url" /></td>
                      <td><button class="btn btn-danger glyphicon glyphicon-remove-sign" ng-click="urlRemove(index)"> </button></td>
                    </tr>
                  </table>
                  <button class="btn btn-success glyphicon glyphicon-plus-sign" ng-click="urlAdd()"> URL</button>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Metric Mapping
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Metric Maps instruct the browser how to locate a particular piece
                  of information, such as a stock price. The URL is opened in the
                  background and the individual data is targeted by the path in the
                  selector. Each succesfully configured metric will be available to
                  display on the ticker bar.</p>
                  <form name="metricForm" novalidate>
                  <table><tr><th>Metric</th><th>URL</th><th>Selector</th></tr>
                    <tr ng-repeat="(index, metric) in resource.metrics">
                      <td><input name="metricName" class="url-name" ng-model="metric.name" ng-pattern="/^[a-zA-Z_ ]+$/" /></td>
                      <td><input class="url" ng-model="metric.url" /></td>
                      <td><input class="selector" ng-model="metric.selector" /></td>
                      <td><button class="btn btn-danger glyphicon glyphicon-remove-sign" ng-click="metricRemove(index)"> </button></td>
                    </tr>
                  </table></form>
                  <button class="btn btn-success glyphicon glyphicon-plus-sign" ng-click="metricAdd()"> Metric</button>
                </div>
              </div>
            </div>

          </div>
          <br />
          <div id="saveConfirmResource"></div>
          <button class="btn btn-warning" ng-show="metricForm.$valid" ng-click="save()">Update Resource</button>
        </div>
      </div>
    </div>


    <div class="tab-pane" id="patterns">
      <div class="container" ng-controller="PatternCtrl">
        <h2>Patterns</h2>
        <p>Each page that is visited by the browser will have the url of all
        anchor tags compared to these regular expressions. The expressions
        are used to locate desired variables. Expressions are
        formatted for use with <a href="http://www.w3schools.com/jsref/jsref_obj_regexp.asp">javascript's RegExp()</a>.</p>
        <div>
          <table><tr><th>Pattern</th><th>Modifiers</th><th>Result</th></tr>
            <tr ng-repeat="(index, pattern) in patterns">
              <td><input class="selector" ng-model="pattern.pattern" /></td>
              <td><input class="name" ng-model="pattern.options" /></td>
              <td><input class="name" ng-model="pattern.result" /></td>
              <td><button class="btn btn-danger glyphicon glyphicon-remove-sign" ng-click="patternRemove(index)"> </button></td>
            </tr>
          </table>
          <button class="btn btn-success glyphicon glyphicon-plus-sign" ng-click="patternAdd()"> Pattern</button>
          <br /><br />
          <div id="saveConfirmPatterns"></div>
          <button class="btn btn-warning" ng-click="save()">Update Patterns</button>
        </div>
      </div>
    </div>    

    <div class="tab-pane" id="importexport">
      <div class="container" ng-controller="ImportExportCtrl">
        <h2>Import / Export</h2>
        <p>Export or import all the configuration and customizations.</p>
        <textarea style="width:800px;height:200px;" ng-model="box"></textarea>
        <br />
        <input type="checkbox" ng-model="pretty" /> Make pretty.
        <br /><br />
        <div id="importConfirm"></div>
        <button class="btn btn-success" ng-click="export()">Export</button> &nbsp; &nbsp; 
        <button class="btn btn-danger" ng-click="import()">Import</button>
        <button class="btn btn-danger" ng-click="reset()">Reset</button>
      </div>
    </div>

  </div>


  <script src="/libs/external/jquery/jquery.min.js"></script>
  <script src="/libs/external/angular/angular.min.js"></script>
  <script src="options-angular.js"></script>
  <script src="/libs/external/bootstrap/bootstrap-3.0.3/dist/js/bootstrap.min.js" />
  <script src="options-bootstrap.js"></script>

</body>
</html>
