
input {
	font-family: "Arial Narrow";
	letter-spacing: 0px;
}
input.ng-invalid {
   text-decoration: line-through;
   color: #ff0000;
}

input.url-name {
    width: 230px;
}
input.url {
    width: 300px;
}
input.selector {
    width: 360px;
}

table th {
    text-align: left;
}

