
input.ng-invalid {
   text-decoration: line-through;
   color: #ff0000;
}

input.url-name {
    width: 120px;
}
input.url {
    width: 300px;
}
input.selector {
    width: 300px;
}

table th {
    text-align: left;
}

