<!DOCTYPE html>
<html lang="en" ng-app="chromeStockTicker">
<head>
  <title>Options</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/libs/external/bootstrap/bootstrap-3.0.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/js/variable/css/variable.css" />
  <link rel="stylesheet" type="text/css" href="/js/resource/css/resource.css" />
  <link rel="stylesheet" type="text/css" href="/js/bar/css/bar.css" />
</head>

<body>

  <ul id="mainNav" class="nav nav-tabs">
    <li class="active"><a href="#resource" data-toggle="tab">Resource</a></li>
    <li><a href="#patterns" data-toggle="tab">Patterns</a></li>
    <li><a href="#importexport" data-toggle="tab">Import/Export</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="resource">
      <cst-resource-config></cst-resource-config>
    </div>

    <div class="tab-pane" id="patterns">
      <div class="container" ng-controller="PatternCtrl">
        <h2>Patterns</h2>
        <p>Each page that is visited by the browser will have the url of all
        anchor tags compared to these regular expressions. The expressions
        are used to locate desired variables. Expressions are
        formatted for use with <a href="http://www.w3schools.com/jsref/jsref_obj_regexp.asp">javascript's RegExp()</a>.</p>
        <div>
          <table><tr><th>Pattern</th><th>Modifiers</th><th>Result</th></tr>
            <tr ng-repeat="(index, pattern) in patterns">
              <td><input class="selector" ng-model="pattern.pattern" /></td>
              <td><input class="name" ng-model="pattern.options" /></td>
              <td><input class="name" ng-model="pattern.result" /></td>
              <td><button class="btn btn-danger glyphicon glyphicon-remove-sign" ng-click="patternRemove(index)"> </button></td>
            </tr>
          </table>
          <button class="btn btn-success glyphicon glyphicon-plus-sign" ng-click="patternAdd()"> Pattern</button>
          <br /><br />
          <div id="saveConfirmPatterns"></div>
          <button class="btn btn-warning" ng-click="save()">Update Patterns</button>
        </div>
      </div>
    </div>    

    <div class="tab-pane" id="importexport">
      <div class="container" ng-controller="ImportExportCtrl">
        <h2>Import / Export</h2>
        <p>Export or import all the configuration and customizations.</p>
        <textarea style="width:800px;height:200px;" ng-model="box"></textarea>
        <br />
        <input type="checkbox" ng-model="pretty" /> Make pretty.
        <br /><br />
        <div id="importConfirm"></div>
        <button class="btn btn-success" ng-click="export()">Export</button> &nbsp; &nbsp; 
        <button class="btn btn-danger" ng-click="import()">Import</button>
        <button class="btn btn-danger" ng-click="reset()">Reset</button>
      </div>
    </div>

  </div>

  <script src="/libs/external/jquery/jquery.min.js"></script>
  <script src="/libs/external/angular/angular.min.js"></script>
  <script src="options-angular.js"></script>
  <script src="/libs/CSTResource.js"></script>
  <script src="/libs/CSTTicker.js"></script>
  <script src="/js/cstApp.js"></script>
  <!-- cst resource -->
  <script src="/js/resource/resourceFactory.js"></script>
  <script src="/js/resource/resourceCtrl.js"></script>
  <script src="/js/resource/resourceDirective.js"></script>
  <!-- cst variable -->
  <script src="/js/variable/variableCtrl.js"></script>
  <script src="/js/variable/variableDirective.js"></script>
  <!-- cst bar -->
  <script src="/js/bar/barCtrl.js"></script>

  <script src="/libs/external/bootstrap/bootstrap-3.0.3/dist/js/bootstrap.min.js"></script>

</body>
</html>
