
/* Variables when they are rendered */
.cst-variable {
    margin-right:4px;
}
.cst-variable .dropdown {
    float: left;
}
.cst-variable .dropdown button {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2px;
}
.cst-variable table {
  width: auto;
  margin: 0px;
}
.cst-variable table td, .cst-variable table th {
  padding: 0px;
  padding-left: 4px;
  margin: 0px;
  font-size: 11px;
  line-height: 11px;
  font-family: 'arial narrow';
  border: none;
}

/* Variable display configuration. */
.cst-variable-config {
  width: 100%;
}
.cst-variable-config table {
  width: 100%;
}
.cst-variable-config .cst-controls {
  width: 100%;
  margin-top: 1em;
}
.cst-variable-config .cst-control-select {
  width: 25%;
  float: left;
}
.cst-variable-config .cst-control-add {
  width: 25%;
  float: left;
}
.cst-variable-config .cst-control-add button {
  width: 100%;
  margin-left: 1em;
}
.cst-variable-config .cst-control-save {
  width: 50%;
  float: left;
  text-align: right;
}
