<div class="cst-variable">
  <div class="dropdown cst-tickerbar-dropdown" style="float:left;">
    <button class="btn btn-success btn-xs dropdown-toggle" type="button" id="dropdownMenu{{variable}}" data-toggle="dropdown">{{variable}}</button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu{{variable}}">
      <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="http://ycharts.com/companies/'+variable+'/free_cash_flow">Free Cash Flow Chart</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="http://www.buyupside.com/dividendcharts/dividendchartdisplay.php?symbol={{variable}}&interval=allyears">Dividend Chart</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" target="_blank" href="http://www.vuru.co/analysis/{{variable}}/valuation">Fair Value Calculator</a></li>
    </ul>
  </div>

  <div ng-repeat="item in bar.items">
    <div class="cst-metric">
      <div class="cst-metric-abbr">{{item.source}}</div>
      <div class="cst-metric-value">{{metrics[item.name].value}}</div>
    </div>
  </div>
</div>