
<div class="cst-bar cst-bar-vertical">
  {{bar|json}}
  <br />
  {{variablesData|json}}
  <div class="cst-bar-items">
    <div class="cst-bar-item cst-bar-header">
      <table>
        <td></td>
        <td class="cst-bar-item-remove"></td>
      </table>
    </div>
    <div class="cst-bar-item" ng-repeat="(index, variable) in variables">
      <table>
        <td></td>
        <td class="cst-bar-item-remove">
          <button class="btn btn-danger btn-xs glyphicon glyphicon-remove-sign" ng-click="remove(index)"></button>
        </td>
      </table>
    </div>
  </div>
  <div class="cst-bar-add">
    <input type="text" class="form-control" placeholder="Symbol" ng-model="addVariable" ui-keypress="{enter: 'add(addVariable)'}"></input>
  </div>
  <div class="cst-bar-nav cst-bar-prev">
    <button class="btn btn-default btn-xs" ng-click="prev()">
      <span>&lt;</span>
    </button>
  </div>
  <div class="cst-bar-nav cst-bar-next">
    <button class="btn btn-default btn-xs" ng-click="next()">
      <span>&gt;</span>
    </button>
  </div>
</div>
