
<div class="cst-resource-config">
  <h2>Resource</h2>
  <p>The resource instructs the program how to obtain values (metrics) for
  each variable found on a webpage. To obtain a metric value for any given
  variable two pieces of
  information must first be provided: first, a url where that value lives
  on the internet, and second, a selector path to locate the individual value
  on the given url page.</p>
  <p>
    <input type="checkbox" ng-model="resource.autoUpdate" /> Auto update. (Last update: {{ resource.lastUpdate | date:'MMM d, y h:mm:ss a' }})<br />
    Automatically add any new metrics when upgrading versions. Conflicting metric
    names will be overwritten with the new values.
  </p>
  <div>
    <div class="panel-group" id="accordion">

      <div class="panel panel-default cst-metric-map">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Metric Mapping
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Metric Maps instruct the browser how to locate a particular piece
            of information, such as a stock price. The URL is opened in the
            background and the individual data is targeted by the path in the
            selector. Each succesfully configured metric will be available to
            display on the ticker bar.</p>
            <table>
              <tr>
                <th class="cst-metric-name">Metric</th>
                <th class="cst-metric-url">URL</th>
                <th class="cst-metric-selector">Selector</th>
                <th class="cst-metric-regex">Regex</th>
              </tr>
              <form name="metricForm" novalidate>
                <tr ng-repeat="(index, metric) in resource.metrics">
                  <td><input name="metricName" class="form-control" ng-model="metric.name" ng-pattern="/^[a-zA-Z_ ]+$/" /></td>
                  <td><input class="form-control" ng-model="metric.url" /></td>
                  <td><input class="form-control" ng-model="metric.selector" /></td>
                  <td><input class="form-control" ng-model="metric.regex" /></td>
                  <td><button class="btn btn-danger glyphicon glyphicon-remove-sign" ng-click="remove(index)"> </button></td>
                </tr>
              </form>
              <form name="cstAddMetric" novalidate>
                <tr class="cst-add-metric">
                  <td><input class="form-control" ng-model="addMetric.name" ng-pattern="/^[a-zA-Z_ ]+$/" placeholder="Metric Name" /></td>
                  <td><input class="form-control" ng-model="addMetric.url" ng-pattern="/^http://.+$/" placeholder="URL" /></td>
                  <td><input class="form-control" ng-model="addMetric.selector" placeholder="CSS Selector" /></td>
                  <td><input class="form-control" ng-model="addMetric.regex" placeholder="Regex" /></td>
                  <td><button class="btn btn-success glyphicon glyphicon-plus" ng-click="add()" ng-show="cstAddMetric.$valid"> </button></td>
                </tr>
              </form>
            </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default cst-import-export">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Import / Export
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <p>Import will destroy all existing resource data. Use reset to clear all all existing
            metrics and reset to factory defaults. Export operates on the last saved resource data;
            be sure and save any recent changes before exporting.</p>
            <p>
              <input type="checkbox" class="cst-checkbox" ng-model="export.pretty" /> Make JSON pretty.
            </p>
            <textarea class="form control" ng-model="export.data"></textarea>
            <div class="cst-controls">
              <button class="btn btn-success" ng-click="export()">Export</button>
              <button class="btn btn-warning" ng-click="import()">Import</button>
              <button class="btn btn-danger" ng-click="reset()">Reset</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <br />
    <div id="saveConfirmResource"></div>
    <button class="btn btn-warning" ng-show="metricForm.$valid" ng-click="save()">Update Resource</button>
  </div>
</div>
