
/**
 * List selection and management.
 */
.cst-lists { margin-bottom: 10px; }
.cst-lists .cst-controls {}
.cst-lists .cst-controls > div { height: 30px; }
.cst-lists .cst-controls .form-control { height: 30px; }
.cst-lists .cst-controls .btn { height: 30px; padding-top: 4px; }
.cst-lists .cst-controls .cst-lists-select { width: 300px; margin-bottom: 15px; }
.cst-lists .cst-controls .cst-lists-save { float: left; }
.cst-lists .cst-controls .cst-lists-remove { }
.cst-lists .cst-controls .cst-lists-add { width: 300px; margin-top: 20px; }

/**
 * Vertical List.
 */
.cst-list-vertical .cst-controls { margin-top: 16px; }
.cst-list-vertical .cst-controls > div { float: left; width: 80px; margin: 0; padding: 0; }
.cst-list-vertical .cst-controls button { width: 100%; }
.cst-list-vertical .cst-controls input { height: 30px; }
.cst-list-vertical table td { margin: 0; padding: 0; }
.cst-list-vertical table tr { background: linear-gradient(#f0f0f0, #ffffff); }
.cst-list-vertical table .cst-metric { background: linear-gradient(#f0f0f0, #ffffff); padding-left: 6px; padding-right: 8px; border-left: 1px solid #f0f0f0; }
.cst-list-vertical .btn { line-height: inherit; border-radius : inherit; padding-top: 4px; padding-bottom: 4px; }
.cst-list-vertical .cst-symbol button { width: 4em; }
