
<div class="dropdown cst-links-dropdown">
  <button class="btn btn-success btn-xs dropdown-toggle" type="button" id="dropdownMenu{{variable}}" data-toggle="dropdown">{{variable}}</button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu{{variable}}">
  	<li ng-repeat="link in links.items.custom" role="presentation">
      <a role="menuitem" tabindex="-1" target="_blank" href="{{link.url}}">{{link.name}}</a>
  	</li>
  	<li ng-repeat="link in links.items.default" role="presentation">
      <a role="menuitem" tabindex="-1" target="_blank" href="{{link.url}}">{{link.name}}</a>
  	</li>
  </ul>
</div>
