
<div class="cst-patterns-config">
  <h2>Patterns</h2>
  <p>Each page that is visited by the browser will have the url of all
  anchor tags compared to these regular expressions. The expressions
  are used to locate desired variables. Expressions are
  formatted for use with <a href="http://www.w3schools.com/jsref/jsref_obj_regexp.asp">javascript's RegExp()</a>.</p>
  <p>
    <input type="checkbox" ng-model="patterns.autoUpdate" /> Auto update. (Last update: {{ patterns.lastUpdate | date:'MMM d, y h:mm:ss a' }})<br />
    Automatically overwrite current patterns (and customized patterns) with factory updates.
  </p>

  <div class="panel-group" id="accordionPattern">
    <!-- Pattern Tab -->
    <div class="panel panel-default cst-patterns">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordionPattern" href="#collapsePatternOne">
            Patterns
          </a>
        </h4>
      </div>
      <div id="collapsePatternOne" class="panel-collapse collapse">
        <div class="panel-body">
          <table>
            <tr>
              <th class="cst-pattern-regex">Pattern</th>
              <th class="cst-pattern-modifiers">Modifiers</th>
              <th class="cst-pattern-result">Result</th>
            </tr>
            <form name="patternForm">
              <tr ng-repeat="(index, pattern) in patterns.items">
                <td><input class="form-control" ng-model="pattern.regex" /></td>
                <td><input class="form-control" ng-model="pattern.modifiers" /></td>
                <td><input class="form-control" ng-model="pattern.result" /></td>
                <td><button class="btn btn-danger glyphicon glyphicon-remove-sign" ng-click="remove(index)"> </button></td>
              </tr>
            </form>
            <form name="cstAddPattern">
              <tr class="cst-add-pattern">
                <td><input class="form-control" ng-model="addPattern.regex" placeholder="Regex Pattern" /></td>
                <td><input class="form-control" ng-model="addPattern.modifiers" placeholder="Modifiers" /></td>
                <td><input class="form-control" ng-model="addPattern.result" placeholder="Result Index" /></td>
                <td><button class="btn btn-success glyphicon glyphicon-plus" ng-click="add()" ng-show="cstAddPattern.$valid"> </button></td>
              </tr>
            </form>
          </table>
        </div>
      </div>
    </div>
    <!-- Import Export Tab -->
    <div class="panel panel-default cst-import-export">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordionPattern" href="#collapsePatternTwo">
            Import / Export
          </a>
        </h4>
      </div>
      <div id="collapsePatternTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>Still in beta.</p>
          <p>
            <input type="checkbox" class="cst-checkbox" ng-model="export.pretty" /> Make JSON pretty.
          </p>
          <textarea class="form control"></textarea>
          <div class="cst-controls">
            <button class="btn btn-success" ng-click="export()">Export</button>
            <button class="btn btn-warning" ng-click="import()">Import</button>
            <button class="btn btn-danger" ng-click="reset()">Reset</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div id="saveConfirmPatterns"></div>
    <button class="btn btn-warning" ng-click="save()">Update Patterns</button>
  </div>
</div>
