
<div class="container">
  <h2>Patterns</h2>
  <p>Each page that is visited by the browser will have the url of all
  anchor tags compared to these regular expressions. The expressions
  are used to locate desired variables. Expressions are
  formatted for use with <a href="http://www.w3schools.com/jsref/jsref_obj_regexp.asp">javascript's RegExp()</a>.</p>
  <div>
    <table><tr><th>Pattern</th><th>Modifiers</th><th>Result</th></tr>
      <tr ng-repeat="(index, pattern) in patterns">
        <td><input class="selector" ng-model="pattern.pattern" /></td>
        <td><input class="name" ng-model="pattern.options" /></td>
        <td><input class="name" ng-model="pattern.result" /></td>
        <td><button class="btn btn-danger glyphicon glyphicon-remove-sign" ng-click="patternRemove(index)"> </button></td>
      </tr>
    </table>
    <button class="btn btn-success glyphicon glyphicon-plus-sign" ng-click="patternAdd()"> Pattern</button>
    <br /><br />
    <div id="saveConfirmPatterns"></div>
    <button class="btn btn-warning" ng-click="save()">Update Patterns</button>
  </div>
</div>
