<!doctype html>
<html lang="en" ng-app="chromeStockTicker">
  <head>
    <title>Chrome Stock Ticker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/libs/external/bootstrap/bootstrap-3.0.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/popup/popup.css" />
    <link rel="stylesheet" type="text/css" href="/content/find-symbols.css" />
  </head>
  <body>

    <ul id="popupNav" class="nav nav-tabs">
      <li class="active"><a href="#tickerbar" data-toggle="tab">Config</a></li>
      <li><a href="#watch" data-toggle="tab">Watch List</a></li>
      <li><a href="#help" data-toggle="tab">Help</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tickerbar">
        <div class="container" ng-controller="tickerBar">
          <h2>Ticker Bar</h2>
          <p>Select which metrics to show on the ticker bar.</p>
          <div>
            <table><tr><th>Name</th><th>Abbreviation</th><th></th></tr>
              <tr ng-repeat="(index, item) in tickerbar.items">
                <td>
                  <select class="form-control" ng-model="item.name" ng-options="item.metricIndex as item.metricValue for item in optionsMetricNames"></select>
                </td>
                <td><input class="form-control" type="text" ng-model="item.source" style="width:100px" /></td>
                <td><button class="btn btn-danger glyphicon glyphicon-remove-sign" ng-click="itemRemove(index)"> </button></td>
              </tr>
            </table>
            <br />
            <div id="saveConfirmTickerBar"></div>
            <button class="btn btn-success" ng-click="itemAdd()">Add Metric</button>
            <button class="btn btn-warning" ng-click="save()">Update &amp; Save</button>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="watch">

              <cst-variable variable="wmt"></cst-metric>

      </div>
      <div class="tab-pane" id="help">
        <iframe id="support"
         src="https://groups.google.com/forum/embed/?place=forum/chrome-stock-ticker">
        </iframe>
      </div>
    </div>

    <script src="/libs/external/jquery/jquery.min.js"></script>
    <script src="/libs/external/angular/angular.min.js"></script>
    <script src="/libs/CSTResource.js"></script>
    <script src="/libs/CSTTicker.js"></script>
    <script src="/libs/ChromeStockTicker-module.js"></script>
    <script src="/libs/external/bootstrap/bootstrap-3.0.3/dist/js/bootstrap.min.js"></script>
    <script src="/popup/popup.js"></script>

  </body>
</html>
